<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Super laverie trop cool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>

<div class="container" >

    <div class="col-xs-12">

        <h1>Super gestionnaire de laverie trop cool</h1>

        <h2>Nombre de machines libres : {{ nb_machines_libres }} </h2>
        <h2>Nombre de sèche-linges libres :  {{ nb_seche_linges_libres }} </h2>



        <table class="table table-striped text-center">
            <tbody>
            {% for appareil in appareils %}
                <tr>
                    <td class="btn-lg">{{ appareil }}</td>
                    <td>
                        {% if appareil.libre %}
                            <p class="alert btn-success btn-lg">Libre</p>
                        {% else %}
                            {% if appareil.reste_longtemps %}
                                <p class="alert btn-danger btn-lg">
                                    Temps restant : {{ appareil.get_minutes_restantes }} minutes
                                </p>
                            {% else %}
                                <p class="alert btn-warning btn-lg">
                                    Temps restant : {{ appareil.get_minutes_restantes }} minutes
                                </p>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-lg btn-primary" onclick="lancer_decompte({{ appareil.id }})">Lancer le décompte</button>
                    </td>
                    <td class="btn-lg">
                        {% if appareil.interesses == 1 %}
                            1 intéressé
                        {% elif appareil.interesses > 1 %}
                            {{ appareil.interesses }} intéressés
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-lg btn-info" onclick="interesse({{ appareil.id }})">Intéressé</button>
                    </td>
                    <td>
                        {% if appareil.interesses != 0 %}
                            <button type="button" class="btn btn-lg btn-info" onclick="plus_interesse({{ appareil.id }})">Plus intéressé</button>
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#popUpWindow">Corriger</button>

                        <div class="modal modal fade" id="popUpWindow" >
                            <div class="modal-dialog" style="width: 100%; height: 100%;  margin: 0;  padding: 0;">
                                <div class="modal-content" style="height: auto;  min-height: 100%;  border-radius: 0;">

                                    <!-- header -->
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title">Corriger le temps restant</h3>
                                    </div>

                                    <!-- body (form) -->
                                    <div class="modal-body">
                                        <form role="form">
                                            <div class="form-group">
                                                <input id="valeur_{{ appareil.id }}"
                                                       type="number" min="0" max="{{ appareil.duree }}"
                                                       placeholder="Temps restant (en minutes)"
                                                       style="width:100%; height: 300px">
                                            </div>
                                        </form>
                                    </div>

                                    <!-- button -->
                                    <div class="modal-footer">
                                        <button onclick="corriger_compteur({{ appareil.id }})" class="btn btn-lg btn-primary btn-block">Valider</button>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div id="corriger_{{ appareil.id }}" style="display: none">
                            <input id="valeur_{{ appareil.id }}" type="number" min="0" max="{{ appareil.duree }}"/>
                            <button onclick="corriger_compteur({{ appareil.id }})">Valider</button>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <dl>
            {% for appareil in appareils %}
                <dt>
                <h3>{{ appareil }}</h3>
                {% if appareil.libre %}
                    <p class="text-success">
                        Libre
                    </p>
                    <button onclick="lancer_decompte({{ appareil.id }})">Lancer le décompte</button>
                {% else %}
                    <p class="text-danger">
                        Temps restant : {{ appareil.get_minutes_restantes }} minutes
                    </p>
                {% endif %}

                <button onclick="apparition_formulaire({{ appareil.id }})">Corriger</button>
                <div id="corriger_{{ appareil.id }}" style="display: none">
                    <input id="valeur_{{ appareil.id }}" type="number" min="0" max="{{ appareil.duree }}"/>
                    <button onclick="corriger_compteur({{ appareil.id }})">Valider</button>
                </div>
                {% if appareil.interesses == 1 %}
                    <div>
                        1 personne intéressée
                    </div>
                {% elif appareil.interesses > 1 %}
                    {{ appareil.interesses }} personnes intéressées
                {% endif %}

                <button onclick="interesse({{ appareil.id }})">Intéressé</button>
                {% if appareil.interesses != 0 %}
                    <button onclick="plus_interesse({{ appareil.id }})">Plus intéressé</button>
                {% endif %}
                </dt>
            {% endfor %}
        </dl>
    </div>
</div>

</body>

<script>
    function lancer_decompte(id) {
        $.get("lancer_decompte/" + id).done(function(){
            location.reload();
        });
    }
    function apparition_formulaire(id) {
        var tag = '#corriger_' + id;
        $(tag).show();
    }
    function corriger_compteur(id) {
        var tag = '#valeur_' + id;
        var valeur = $(tag).val();
        $.get("corriger_decompte/" + id + "/" + valeur).done(function(){
            location.reload();
        });
    }
    function interesse(id) {
        $.get("interesse/" + id).done(function(){
            location.reload();
        });
    }
    function plus_interesse(id) {
        $.get("plus_interesse/" + id).done(function(){
            location.reload();
        });
    }
    function refresh() {
        $('body').load('')
    }
    setTimeout("refresh()",61000);
</script>

</html>