<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Super laverie trop cool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>

<div class="container" >

    <h1>Super gestionnaire de laverie trop cool</h1>

    <h2>Nombre de machines libres : {{ nb_machines_libres }} </h2>
    <h2>Nombre de sèche-linges libres :  {{ nb_seche_linges_libres }} </h2>


    {% for appareil in appareils %}
        <div class="row text-center" style="margin-bottom: 20px">

            <div class="clearfix"></div>

            <!-- Appareil -->
            <h4>
                <div >{{ appareil }}</div>
            </h4>

            <!-- Vide -->
            <!-- <div class="col-xs-4"></div> -->

            <!-- Statut -->
            {% if appareil.libre %}
                <div class="alert btn-success btn-lg col-lg-1 col-xs-8">
                    <div>Libre</div>
                </div>
            {% else %}
                {% if appareil.reste_longtemps %}
                    <div class="alert btn-danger btn-lg col-lg-1 col-xs-8">
                        <div>{{ appareil.get_minutes_restantes }} minutes</div>
                    </div>
                {% else %}
                    <div class="alert btn-warning btn-lg btn-lg col-lg-1 col-xs-8">
                        <div>{{ appareil.get_minutes_restantes }} minutes</div>
                    </div>
                {% endif %}
            {% endif %}

            <!--Démarrer le compteur -->
            {% if appareil.libre %}
                <div col-lg-1 col-xs-4>
                    <button type="button" class="btn btn-lg btn-primary glyphicon glyphicon-play "
                            onclick="lancer_decompte({{ appareil.id }})">
                    </button>
                </div>
            {% else %}
                <div col-lg-1 col-xs-4>
                    <button type="button" class="btn btn-lg btn-primary glyphicon glyphicon-repeat "
                            onclick="lancer_decompte({{ appareil.id }})">
                    </button>
                </div>
            {% endif %}

            <div class="clearfix"></div>

            <!-- Nombre d'intéressés -->
            <div class="btn-lg btn-lg col-lg-1 col-xs-3">
                {{ appareil.interesses }}
                <div class="glyphicon glyphicon-user"></div>
            </div>

            <!--Bouton intéressé -->
            <button type="button" class="btn btn-lg btn-info btn-lg col-lg-1 col-xs-3"
                    onclick="interesse({{ appareil.id }})">
                <div class="glyphicon glyphicon-circle-arrow-right"></div>
            </button>

            <!-- Bouton désintéressé -->
            {% if appareil.interesses != 0 %}
                <button type="button" class="btn btn-lg btn-info btn-lg col-lg-1 col-xs-3"
                        onclick="plus_interesse({{ appareil.id }})">
                    <div class="glyphicon glyphicon-thumbs-up"></div>
                </button>
            {% endif %}

            <!-- Bouton éditer -->
            <button type="button" onclick="demander_valeur({{ appareil.id }})"
                    class="btn btn-lg btn-warning btn-lg col-lg-1 col-xs-3" >
                <div class="glyphicon glyphicon-edit"></div>
            </button>

        </div>
    {% endfor %}




    <table class="table table-responsive text-center">
        <tbody>
        {% for appareil in appareils %}
            <tr>
                <div class="col-lg-6 col-xs-12">
                    <td class="btn-lg">{{ appareil }}</td>
                    <td>
                        {% if appareil.libre %}
                            <div class="alert btn-success btn-lg">
                                <div class="glyphicon glyphicon-ok"></div>
                                <div>Libre</div>
                            </div>
                        {% else %}
                            {% if appareil.reste_longtemps %}
                                <div class="alert btn-danger btn-lg">
                                    <div class="glyphicon glyphicon-time"></div>
                                    <div>{{ appareil.get_minutes_restantes }} minutes</div>
                                </div>
                            {% else %}
                                <div class="alert btn-warning btn-lg">
                                    <div class="glyphicon glyphicon-time"></div>
                                    <div>{{ appareil.get_minutes_restantes }} minutes</div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </td>
                    {% if appareil.libre %}
                        <td>
                            <button type="button" class="btn btn-lg btn-primary glyphicon glyphicon-play" onclick="lancer_decompte({{ appareil.id }})"></button>
                        </td>
                    {% else %}
                        <td>
                            <button type="button" class="btn btn-lg btn-primary glyphicon glyphicon-repeat" onclick="lancer_decompte({{ appareil.id }})"></button>
                        </td>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-xs-12">
                    <td class="btn-lg">
                        {{ appareil.interesses }}
                        <div class="glyphicon glyphicon-user"></div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-lg btn-info" onclick="interesse({{ appareil.id }})">
                            <div class="glyphicon glyphicon-circle-arrow-right"></div>
                        </button>
                    </td>
                    <td>
                        {% if appareil.interesses != 0 %}
                            <button type="button" class="btn btn-lg btn-info" onclick="plus_interesse({{ appareil.id }})">
                                <div class="glyphicon glyphicon-thumbs-up"></div>
                            </button>
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" onclick="demander_valeur({{ appareil.id }})" class="btn btn-lg btn-warning" >
                            <div class="glyphicon glyphicon-edit"></div>
                        </button>

                        <div id="corriger_{{ appareil.id }}" style="display: none">
                            <input id="valeur_{{ appareil.id }}" type="number" min="0" max="{{ appareil.duree }}"/>
                            <button onclick="corriger_compteur({{ appareil.id }})">Valider</button>
                        </div>

                    </td>
                </div>
            </tr>
        {% endfor %}

        </tbody>
    </table>


</div>

</body>

<script>
    function lancer_decompte(id) {
        $.get("lancer_decompte/" + id).done(function(){
            location.reload();
        });
    }
    function apparition_formulaire(id) {
        var tag = '#corriger_' + id;
        $(tag).show();
    }
    function corriger_compteur(id) {
        var tag = '#valeur_' + id;
        var valeur = $(tag).val();
        $.get("corriger_decompte/" + id + "/" + valeur).done(function(){
            location.reload();
        });
    }
    function demander_valeur(id) {
        var valeur = parseInt(prompt("Veuillez saisir le temps restant (en minutes)"))
        if (!isNaN(valeur)) {
            $.get("corriger_decompte/" + id + "/" + valeur).done(function(){
                location.reload();
            });
        }
    }
    function interesse(id) {
        $.get("interesse/" + id).done(function(){
            location.reload();
        });
    }
    function plus_interesse(id) {
        $.get("plus_interesse/" + id).done(function(){
            location.reload();
        });
    }
    function refresh() {
        $('body').load('')
    }
    setTimeout("refresh()",61000);
</script>

</html>